*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.main,section {
    flex: 1;
}

header{
    background: rgb(56, 56, 133);
    color: white;
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav a{
    color: rgb(248, 8, 8);
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover {
    color: yellowgreen;
}

.main{ 
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(204, 165, 240);
    text-align: center;
}

.main::before {
    content: "";
    width: 200px;
    height: 200px;
    background-image: url("image.jpg");
    background-size: cover;
    border-radius: 50%;
    border: 5px solid black;
}

.contact{
    width: 500px;
    margin: 60px auto;
}

.list{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.detail{
    margin-bottom: 20px;
}

input,textarea{
    width: 100%;
    padding: 8px;
    border: 2px solid #b93535;
    background: transparent;
    font-size: 14px;
}

button {
    padding: 8px 22px;
    background: #a44a1c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #7f3815;
}



section {
    padding-top: 80px;
    text-align: center;
    background: rgb(204, 165, 240) ;
    font-weight:500;
}

.skills span {
    display: inline-block;
    margin: 20px;
    padding: 8px 14px;
    background: black;
    color: white;
    border-radius: 5px;
}
.skills p{
    padding: 30px 250px 0px 250px;
}
.about p{
    padding: 30px 100px 0px 100px;
}
.bsc{
    padding: 50px 100px 0px 100px;
}

.edu1 {
    max-width: 500px;
    margin: 15px auto;
    padding: 15px;
    border: 3px solid black;
    border-radius: 5px;
}

.unordered{
    padding-left: 50px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}